@model _2021_06_18_partialViewExperimente.Models.Document
@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br />
<br />
<br />


<p>Privacy wird schon mal angezeigt</p>
<partial name="Privacy" />

<br />
<br />
<br />

<p>Hier soll die Document View hin</p>
<div>
    @*@{Html.RenderPartial("Create", Model)}*@
    @*<partial name="model.Index" />*@
    @*@Html.Partial("~/Views/AnotherFolder/Messages.cshtml", ViewData.Model.Successes)*@
    @*@Html.Partial("~/Views/Documents/Index.cshtml")*@
    @*<partial name="~/Views/Documents/Index.cshtml" />*@
    @*<partial name="~/Views/Documents/Create.cshtml" />*@
    <partial name="_PartialViewDocument" />


</div>





